/* Estilos para todo */
* {
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999999;
  max-width: 500px;
  margin: 100px auto;
}

.box img {
  width: 95%;
  height: 360px;
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

/* Estilos para todo */

/* BEGIN Estilos de Mariam: login.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  #login-box, .container {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;
  }
 
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea
   {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 12px;
    resize: vertical;

  }

  input[type="submit"],
  button[type="submit"] {
    background-color: #d43226;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  input[type="submit"]:hover,
  button[type="submit"]:hover {
    /* background-color: #9e1d14; */
    background-color: #000000;
  }
  
  a {
    text-decoration: none;
    color: #0077cc;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .left-column p {
    margin: 5px 0;
  }
  
  .left-column a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  /* .left-column a:hover {
    color: #d43226;
  } */
  
  .right-column {
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: column;
    align-items: flex-end;
  }

  a:hover {
    color: #d43226;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #d43226;
    color: #fff;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
/* END Estilos de Mariam: login.html */  

/* BEGIN Estilos de Ramón: slider.html */
  .slider {
    width: 100%;
    height: 155px;
    position: relative;
  }

  .slider img {
    width: 100%;
    height: 155px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider img:first-child {
    z-index: 1;
  }

  .slider img:nth-child(4) {
    z-index: 0;
  }

  .navigation-button {
    text-align: center;
    position: relative;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  .homeproducts {
    width: 100%;
    height: 310px;
    position: relative;
  }

  .homeproducts img {
    width: 100%;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .homeproducts img:first-child {
    z-index: 1;
  }

  .homeproducts img:nth-child(4) {
    z-index: 0;
  }
  
  div#fondo {
    width: 100%;
    height: 560px;
  }
  /* END Estilos de Ramón: slider.html */

/* General */

img#logo {
  width: 100%;
  height: 155px;
  position: relative;
}


screen and (max-width: 600px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-top: 0;
  }
  button[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* General */

/* Promos */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.promoproduct {
  height: 310px;
  position: relative;
}

.promoproduct:hover {
  background-color: #d43226;
}

.promoproduct img {
  width: 100%;
  height: 310px;
  position: absolute;
  top: 0;
  left: 0;
}

p.descuento {
  text-align: center;
  font-size: 48;
  font-weight: bold;
  padding: 5px 20px;
}

p.descuento:hover {
  background-color: #d43226;
  color: white;
}

p.home {
  text-align: center;
  font-size: 48;
  font-weight: bold;
  padding: 5px 20px;
}

p.home:hover {
  background-color: black;
  color: white;
}


button[type="submit"].home-comprar-but {
  background-color: white;
  color: #999;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
button[type="submit"].home-comprar-but:hover {
  /* background-color: #9e1d14; */
  background-color: #d43226;
  color: white;
}

/*Estilos mosaico inicio*/
.contenedor-mosaico {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h3 {
    margin-top: 0;
}

.producto p {
    margin-bottom: 0;
}